doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      h1 my fridge app
      a(href='/')
        button Home
    hr
    block content
